<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-12" text>
      <h4 class="border-top mt-4">Taller individual</h4>
      <h5>Karol Gabriela Parada Salamanca</h5>
      <h5>201621734</h5>
      <h5>Electiva II</h5>
    </div>
  </div>
  
</div>